.sidebar{
    position: fixed;
    top:55px;
    bottom:0;
    left:0;
    width:72px;
    background-color: white;
    padding-top:5px;
    z-index:200;
}
.sidebar-link{
    height:74px;
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}
.sidebar img{
    height: 24px;
    margin-bottom: 7px;
}
.sidebar div{
    font-size: 10px;
}

